<section id="speakers">
    <div class="container aos-init aos-animate" data-aos="fade-up" bis_skin_checked="1">
        <div class="section-header" bis_skin_checked="1">
            <h2>Event Speakers</h2>
        </div>
    </div>
    <div class="swiper swiper-initialized swiper-horizontal gallery-slider" bis_skin_checked="1">
        <div class="swiper-wrapper"
            style="transition-duration: 0ms; transform: translate3d(-624.6px, 0px, 0px); transition-delay: 0ms;"
            bis_skin_checked="1">
            <div class="swiper-slide" style="width: 188.2px; margin-right: 20px;" bis_skin_checked="1">
                <div class="speaker aos-init aos-animate" data-aos="fade-up" bis_skin_checked="1"><img
                        alt="Prabhath Mannapperuma" class="img-fluid" src="/assets/img/speakers/prabhath.jpg">
                    <div class="details" bis_skin_checked="1">
                        <h3><a href="https://www.linkedin.com/in/dprabhath" target="_blank"
                                rel="noopener noreferrer">Prabhath Mannapperuma</a></h3>
                        <p class="speaker-sessions">Navigating Your Cloud Career in an AI-Driven World</p>
                        <div class="social" bis_skin_checked="1"><a href="https://www.linkedin.com/in/dprabhath"
                                target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="width: 188.2px; margin-right: 20px;" bis_skin_checked="1">
                <div class="speaker aos-init aos-animate" data-aos="fade-up" bis_skin_checked="1"><img alt="Rizmi Razik"
                        class="img-fluid" src="/assets/img/speakers/rizmi.jpg">
                    <div class="details" bis_skin_checked="1">
                        <h3><a href="https://www.linkedin.com/in/rizmi-razik-9a6b4551/" target="_blank"
                                rel="noopener noreferrer">Rizmi Razik</a></h3>
                        <p class="speaker-sessions">Azure Certification Roadmap: Learning Paths, Discounts &amp; Smart
                            Strategies to Succeed</p>
                        <div class="social" bis_skin_checked="1"><a
                                href="https://www.linkedin.com/in/rizmi-razik-9a6b4551/" target="_blank"
                                rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="width: 188.2px; margin-right: 20px;" bis_skin_checked="1">
                <div class="speaker aos-init aos-animate" data-aos="fade-up" bis_skin_checked="1"><img alt="Ijaz Rameez"
                        class="img-fluid" src="/assets/img/speakers/ijaz.jpg">
                    <div class="details" bis_skin_checked="1">
                        <h3><a href="https://www.linkedin.com/in/ijazrameez" target="_blank"
                                rel="noopener noreferrer">Ijaz Rameez</a></h3>
                        <p class="speaker-sessions">Azure Platform Monitoring - A Distributed and Extensible Solution
                        </p>
                        <div class="social" bis_skin_checked="1"><a href="https://www.linkedin.com/in/ijazrameez"
                                target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="width: 188.2px; margin-right: 20px;" bis_skin_checked="1">
                <div class="speaker aos-init aos-animate" data-aos="fade-up" bis_skin_checked="1"><img
                        alt="Dineth Siriwardhana" class="img-fluid" src="/assets/img/speakers/dineth.jpg">
                    <div class="details" bis_skin_checked="1">
                        <h3><a href="https://www.linkedin.com/in/dinethsiriwardana/" target="_blank"
                                rel="noopener noreferrer">Dineth Siriwardhana</a></h3>
                        <p class="speaker-sessions">Deploying API-First Apps with Azure API Management</p>
                        <div class="social" bis_skin_checked="1"><a
                                href="https://www.linkedin.com/in/dinethsiriwardana/" target="_blank"
                                rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-prev" style="width: 188.2px; margin-right: 20px;"
                bis_skin_checked="1">
                <div class="speaker aos-init aos-animate" data-aos="fade-up" bis_skin_checked="1"><img
                        alt="Supun Sudheera " class="img-fluid" src="/assets/img/speakers/supun.jpg">
                    <div class="details" bis_skin_checked="1">
                        <h3><a href="https://www.linkedin.com/in/supun-jayalath/" target="_blank"
                                rel="noopener noreferrer">Supun Sudheera </a></h3>
                        <p class="speaker-sessions">Leverage your Business Analytics with Microsoft Fabric</p>
                        <div class="social" bis_skin_checked="1"><a href="https://www.linkedin.com/in/supun-jayalath/"
                                target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-active" style="width: 188.2px; margin-right: 20px;"
                bis_skin_checked="1">
                <div class="speaker aos-init aos-animate" data-aos="fade-up" bis_skin_checked="1"><img
                        alt="Pathum Udana" class="img-fluid" src="/assets/img/speakers/pathum.jpg">
                    <div class="details" bis_skin_checked="1">
                        <h3><a href="https://www.linkedin.com/in/pathumudana/" target="_blank"
                                rel="noopener noreferrer">Pathum Udana</a></h3>
                        <p class="speaker-sessions">Automate the employee identity lifecycle with Microsoft Entra ID
                            Governance</p>
                        <div class="social" bis_skin_checked="1"><a href="https://www.linkedin.com/in/pathumudana/"
                                target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-next" style="width: 188.2px; margin-right: 20px;"
                bis_skin_checked="1">
                <div class="speaker aos-init aos-animate" data-aos="fade-up" bis_skin_checked="1"><img
                        alt="Nisal Mihiranga" class="img-fluid" src="/assets/img/speakers/nisal.jpg">
                    <div class="details" bis_skin_checked="1">
                        <h3><a href="https://www.linkedin.com/in/nisalm/" target="_blank"
                                rel="noopener noreferrer">Nisal Mihiranga</a></h3>
                        <p class="speaker-sessions">Supercharging AI Agents with MCP: Seamless Integration of Azure
                            Services</p>
                        <div class="social" bis_skin_checked="1"><a href="https://www.linkedin.com/in/nisalm/"
                                target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="width: 188.2px; margin-right: 20px;" bis_skin_checked="1">
                <div class="speaker aos-init aos-animate" data-aos="fade-up" bis_skin_checked="1"><img
                        alt="Fiqri Ismail" class="img-fluid" src="/assets/img/speakers/fiqri.jpg">
                    <div class="details" bis_skin_checked="1">
                        <h3><a href="https://www.linkedin.com/in/fiqriismail/" target="_blank"
                                rel="noopener noreferrer">Fiqri Ismail</a></h3>
                        <p class="speaker-sessions">Understanding Data API Builder</p>
                        <div class="social" bis_skin_checked="1"><a href="https://www.linkedin.com/in/fiqriismail/"
                                target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="width: 188.2px; margin-right: 20px;" bis_skin_checked="1">
                <div class="speaker aos-init aos-animate" data-aos="fade-up" bis_skin_checked="1"><img
                        alt="Danidu Weerasinghe" class="img-fluid" src="/assets/img/speakers/danidu.jpg">
                    <div class="details" bis_skin_checked="1">
                        <h3><a href="https://www.linkedin.com/in/danidu-weerasinghe-b5615b42/" target="_blank"
                                rel="noopener noreferrer">Danidu Weerasinghe</a></h3>
                        <p class="speaker-sessions">Mastering Azure Bicep</p>
                        <div class="social" bis_skin_checked="1"><a
                                href="https://www.linkedin.com/in/danidu-weerasinghe-b5615b42/" target="_blank"
                                rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="width: 188.2px; margin-right: 20px;" bis_skin_checked="1">
                <div class="speaker aos-init aos-animate" data-aos="fade-up" bis_skin_checked="1"><img
                        alt="Uditha Bandara" class="img-fluid" src="/assets/img/speakers/uditha.jpg">
                    <div class="details" bis_skin_checked="1">
                        <h3><a href="https://www.linkedin.com/in/udithabandara/" target="_blank"
                                rel="noopener noreferrer">Uditha Bandara</a></h3>
                        <p class="speaker-sessions">Reinforcement Learning in Action: Smart Decisions with Azure Machine
                            Learning</p>
                        <div class="social" bis_skin_checked="1"><a href="https://www.linkedin.com/in/udithabandara/"
                                target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="width: 188.2px; margin-right: 20px;" bis_skin_checked="1">
                <div class="speaker aos-init aos-animate" data-aos="fade-up" bis_skin_checked="1"><img
                        alt="Pasindu Wijesinghe" class="img-fluid" src="/assets/img/speakers/pasindu.jpg">
                    <div class="details" bis_skin_checked="1">
                        <h3><a href="https://www.linkedin.com/in/pasindu-malshika-wijesinghe?utm_source=share&amp;utm_campaign=share_via&amp;utm_content=profile&amp;utm_medium=android_app"
                                target="_blank" rel="noopener noreferrer">Pasindu Wijesinghe</a></h3>
                        <p class="speaker-sessions">Catch It Before It Breaks: SAST &amp; DAST for DevSecOps in Azure
                        </p>
                        <div class="social" bis_skin_checked="1"><a
                                href="https://www.linkedin.com/in/pasindu-malshika-wijesinghe?utm_source=share&amp;utm_campaign=share_via&amp;utm_content=profile&amp;utm_medium=android_app"
                                target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="width: 188.2px; margin-right: 20px;" bis_skin_checked="1">
                <div class="speaker aos-init aos-animate" data-aos="fade-up" bis_skin_checked="1"><img
                        alt="Thisara Perera" class="img-fluid" src="/assets/img/speakers/thisara.jpg">
                    <div class="details" bis_skin_checked="1">
                        <h3><a href="https://www.linkedin.com/in/thisara-perera" target="_blank"
                                rel="noopener noreferrer">Thisara Perera</a></h3>
                        <p class="speaker-sessions">Architecting Enterprise-Scale Azure Networks: Secure, Resilient
                            &amp; Mission-Critical Connectivity</p>
                        <div class="social" bis_skin_checked="1"><a href="https://www.linkedin.com/in/thisara-perera"
                                target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" style="width: 188.2px; margin-right: 20px;" bis_skin_checked="1">
                <div class="speaker aos-init aos-animate" data-aos="fade-up" bis_skin_checked="1"><img
                        alt="Dinesh Priyankara" class="img-fluid" src="/assets/img/speakers/dinesh.jpg">
                    <div class="details" bis_skin_checked="1">
                        <h3><a href="https://www.linkedin.com/in/dineshpriyankara/" target="_blank"
                                rel="noopener noreferrer">Dinesh Priyankara</a></h3>
                        <p class="speaker-sessions">Talk to Your Data: Building a Smart Sales Agent with Azure SQL and
                            AI</p>
                        <div class="social" bis_skin_checked="1"><a href="https://www.linkedin.com/in/dineshpriyankara/"
                                target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"
            bis_skin_checked="1"><span class="swiper-pagination-bullet"></span><span
                class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span
                class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span
                class="swiper-pagination-bullet"></span></div>
    </div>
</section>